streamlit==1.45.0

ultralytics==8.0.196

streamlit-webrtc==0.47.0

opencv-python-headless==4.8.1.78

av==10.0.0

torch==2.2.2
torchvision==0.17.2

numpy==1.26.4
pandas==2.2.2
Pillow==10.4.0

streamlit-geolocation==0.0.10

folium==0.15.1
streamlit-folium==0.18.0